@import url("./fonts.css");
@import url("./reset.css");
@import url("./skip.css");
#wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#wrap #header {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 137.594px;
  background-color: #fff;
  position: fixed;
  transition: all 0.6s;
}
#wrap #header.on {
  height: 105.594px;
  border-bottom: 1px solid #666666;
}
#wrap #header .container {
  width: 100%;
  height: 100%;
  max-width: 1430px;
  margin: 0 auto;
}
#wrap #header .container .gap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
#wrap #header .container .gap .logo {
  width: 30%;
  position: relative;
  height: 100%;
}
#wrap #header .container .gap .logo h1 {
  height: 100%;
}
#wrap #header .container .gap .logo h1 a {
  display: flex;
  height: 100%;
  align-items: center;
}
#wrap #header .container .gap .logo h1 a img {
  height: 68%;
}
#wrap #header .container .gap .nav-box {
  width: 70%;
  position: relative;
}
#wrap #header .container .gap .nav-box .row1 {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 0.525486vw 0;
}
#wrap #header .container .gap .nav-box .row1 .nav-top {
  display: flex;
}
#wrap #header .container .gap .nav-box .row1 .nav-top > li {
  padding: 0 0 0 1.313715187vw;
}
#wrap #header .container .gap .nav-box .row1 .nav-top > li > a {
  font-size: 14px;
  color: #666666;
  font-weight: 300;
  border-right: 1px solid #666666;
}
#wrap #header .container .gap .nav-box .row1 .nav-top > li > a:last-child {
  border: 0;
}
#wrap #header .container .gap .nav-box .row2 {
  display: flex;
  justify-content: flex-end;
}
#wrap #header .container .gap .nav-box .row2 .nav-bottom {
  display: flex;
  margin: 20px 0 0 0;
}
#wrap #header .container .gap .nav-box .row2 .nav-bottom li {
  display: flex;
  height: 100%;
  padding: 0 1.156069364vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#wrap #header .container .gap .nav-box .row2 .nav-bottom li:last-child {
  padding: 0 0 0 1.156069364vw;
}
#wrap #header .container .gap .nav-box .row2 .nav-bottom li a {
  font-size: 18px;
  color: #000000;
  font-family: "Roboto";
  font-weight: 300;
}
#wrap #header .container .gap #mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
#wrap #header .container .gap #mobile .mbl-left {
  display: none;
  width: 100%;
}
#wrap #header .container .gap #mobile .mbl-left .mbl-btn {
  display: block;
  width: 26px;
  height: 18px;
  position: relative;
}
#wrap #header .container .gap #mobile .mbl-left .mbl-btn .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
#wrap #header .container .gap #mobile .mbl-left .mbl-btn .line.line1 {
  top: 0;
}
#wrap #header .container .gap #mobile .mbl-left .mbl-btn .line.line2 {
  top: 50%;
  width: 18px;
  margin: -0.5px 0 0 0;
}
#wrap #header .container .gap #mobile .mbl-left .mbl-btn .line.line3 {
  bottom: 0;
}
#wrap #header .container .gap #mobile .mbl-right {
  display: none;
  width: 100%;
  height: 100%;
}
#wrap #header .container .gap #mobile .mbl-right .mbl-mall {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#wrap #header .container .gap #mobile .mbl-right .mbl-mall img {
  height: 60%;
}
#wrap #main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
#wrap #main #section1 {
  width: 100vw;
  height: 49.229848vw;
}
#wrap #main #section1 .container {
  width: 100%;
  height: 100%;
}
#wrap #main #section1 .container .gap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 137.594px 0 0 0;
}
#wrap #main #section1 .container .gap .slide-container {
  width: 100%;
  height: 100%;
  position: relative;
}
#wrap #main #section1 .container .gap .slide-container .slide-view {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
#wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url() no-repeat 50% 50%;
  background-size: cover;
}
#wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide1 {
  background-image: url(../img/3717365327_ANdPYq7M_20230112094455.jpg);
  z-index: 5;
}
#wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide2 {
  background-image: url(../img/3717365327_8e3xNlkn_20221227112217.jpg);
  z-index: 4;
}
#wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide3 {
  background-image: url(../img/3698661499_HcaAhXOQ_20230209103401.jpg);
  z-index: 3;
}
#wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide4 {
  background-image: url(../img/3717365327_kLrTq0Vw_20221227111508.jpg);
  z-index: 2;
}
#wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide5 {
  background-image: url(../img/3717365327_SpDlB6IQ_20230113034757.jpg);
  z-index: 1;
}
#wrap #main #section1 .container .gap .page-btn-box {
  position: absolute;
  z-index: 6;
  left: 10.50972149vw;
  bottom: 1.576458224vw;
  text-align: center;
  display: flex;
}
#wrap #main #section1 .container .gap .page-btn-box span {
  margin: 0 3px;
}
#wrap #main #section1 .container .gap .page-btn-box span .page-btn {
  width: 80px;
  height: 3px;
  background: #fff;
  text-align: center;
  transition: all 0.3s;
}
#wrap #main #section1 .container .gap .page-btn-box span .page-btn.on {
  background-color: #000000;
}
#wrap #main #section2 {
  width: 100%;
  height: 70px;
  background: #572a31;
}
#wrap #main #section2 .container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#wrap #main #section2 .container .gap {
  width: 100%;
  height: 100%;
  padding: 0 80px 0 30px;
  display: flex;
}
#wrap #main #section2 .container .gap .icon {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#wrap #main #section2 .container .gap .icon > img {
  width: 100%;
  padding: 0 30px 0 0;
}
#wrap #main #section2 .container .gap .slide-container {
  width: 100%;
  height: 70px;
}
#wrap #main #section2 .container .gap .slide-container .slide-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap {
  width: 100%;
  height: 600%;
  animation: slide 20s infinite ease both;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul {
  width: 100%;
  display: flex;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li {
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 0;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li a {
  width: 75%;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li span {
  width: 15%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 0 30px 0 15px;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li i {
  width: 10%;
  cursor: pointer;
}
#wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li i img {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding: 0 0 0 10px;
}
@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-70px);
  }
  25% {
    transform: translateY(-70px);
  }
  30% {
    transform: translateY(-70px);
  }
  35% {
    transform: translateY(-70px);
  }
  40% {
    transform: translateY(-140px);
  }
  45% {
    transform: translateY(-140px);
  }
  50% {
    transform: translateY(-140px);
  }
  55% {
    transform: translateY(-140px);
  }
  60% {
    transform: translateY(-210px);
  }
  65% {
    transform: translateY(-210px);
  }
  70% {
    transform: translateY(-210px);
  }
  75% {
    transform: translateY(-210px);
  }
  80% {
    transform: translateY(-280px);
  }
  85% {
    transform: translateY(-280px);
  }
  90% {
    transform: translateY(-280px);
  }
  95% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(-350px);
  }
}
#wrap #main #section3 {
  width: 100%;
  padding: 90px 0;
}
#wrap #main #section3 .container {
  width: 100%;
  position: relative;
  padding: 0 12.42774566vw;
}
#wrap #main #section3 .container .gap {
  width: 100%;
  padding: 0 15px;
  position: relative;
}
#wrap #main #section3 .container .gap .title-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}
#wrap #main #section3 .container .gap .title-box.on {
  animation: sec3title 0.8s ease-in-out both;
}
#wrap #main #section3 .container .gap .content-box {
  width: 100%;
}
#wrap #main #section3 .container .gap .content-box .slide-container {
  width: 100%;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view.on {
  animation: sec3slide 1s ease-in-out both;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap {
  width: 700%;
  margin: 0 0 0 -200%;
  display: flex;
  position: relative;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide {
  width: 100%/3;
  cursor: pointer;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .img-box {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .img-box img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .img-box img:hover {
  outline: 1px solid rgba(255, 255, 255, 0.4);
  outline-offset: -15px;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .txt-box {
  width: 100%;
  margin: 40px 0 0 0;
  overflow: hidden;
}
#wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .txt-box > h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  text-align: center;
  word-break: keep-all;
}
#wrap #main #section3 .container .gap .arrow-prev-btn {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 30px;
  margin: 0 0 14.5px 0;
}
#wrap #main #section3 .container .gap .arrow-prev-btn.on {
  animation: sec3slide 0.7s ease-in-out both;
}
#wrap #main #section3 .container .gap .arrow-prev-btn img {
  display: block;
  width: 21px;
  height: 35px;
}
#wrap #main #section3 .container .gap .arrow-next-btn {
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 30px;
  margin: 0 0 14.5px 0;
}
#wrap #main #section3 .container .gap .arrow-next-btn.on {
  animation: sec3slide 0.7s ease-in-out both;
}
#wrap #main #section3 .container .gap .arrow-next-btn img {
  display: block;
  width: 21px;
  height: 35px;
}
#wrap #main #section3 .container .gap .page-btn-box {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 1.313715187vw;
  text-align: center;
  display: flex;
}
#wrap #main #section3 .container .gap .page-btn-box.on {
  animation: sec3slide 0.7s ease-in-out both;
}
#wrap #main #section3 .container .gap .page-btn-box .page-num {
  margin: 0 8px 0 0;
}
#wrap #main #section3 .container .gap .page-btn-box .page-num > h3 {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  display: flex;
  align-items: center;
}
#wrap #main #section3 .container .gap .page-btn-box .page-num > h3 > span {
  padding: 0 4px 0 0;
}
#wrap #main #section3 .container .gap .page-btn-box span {
  margin: 0 4px;
}
#wrap #main #section3 .container .gap .page-btn-box span a {
  width: 15px;
  height: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  background: #d4d4d4;
}
#wrap #main #section3 .container .gap .page-btn-box span a.on {
  border: 1px solid #572a31;
  background: #572a31;
}
@keyframes sec3title {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes sec3slide {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#wrap #main #section4 {
  width: 100%;
  background: url(../img/section2_bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#wrap #main #section4 .container {
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
}
#wrap #main #section4 .container .gap {
  width: 100%;
  padding: 5.517603783vw 0 4.992117709vw 0;
}
#wrap #main #section4 .container .gap .four-box {
  width: 100%;
  padding: 0 0 0 38.57067788vw;
}
#wrap #main #section4 .container .gap .four-box .content {
  width: 100%;
}
#wrap #main #section4 .container .gap .four-box .content > h2 {
  font-size: 47px;
  color: #572a31;
  line-height: 1.3;
  letter-spacing: -2.4px;
}
#wrap #main #section4 .container .gap .four-box .content img {
  padding: 15px 0 42px 0;
}
#wrap #main #section4 .container .gap .four-box .content p {
  color: #572a31;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 40px;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn {
  width: 100%;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap {
  width: 100%;
  padding: 30px 15px 0 15px;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul {
  width: 674.871px;
  display: flex;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li {
  width: 33.333%;
  margin: 0 8px;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo {
  display: flex;
  width: 210px;
  height: 58px;
  border: 1px solid #572a31;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo.nemo1 {
  color: #fff;
  background: #572a31;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo.nemo2 {
  color: #572a31;
}
#wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo.nemo3 {
  color: #572a31;
}
#wrap #main #section5 {
  width: 100%;
  padding: 90px 0 95px 0;
}
#wrap #main #section5 .container {
  width: 100%;
  padding: 0 12.42774566vw;
}
#wrap #main #section5 .container .gap {
  width: 100%;
  padding: 0 15px;
  position: relative;
}
#wrap #main #section5 .container .gap .title-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}
#wrap #main #section5 .container .gap .title-box img {
  width: auto;
}
#wrap #main #section5 .container .gap .title-box.on {
  animation: sec5title 0.8s ease-in-out both;
}
#wrap #main #section5 .container .gap .content-box {
  width: 100%;
}
#wrap #main #section5 .container .gap .content-box .slide-container {
  width: 100%;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view.on {
  animation: sec5slide 1s ease-in-out both;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap {
  width: 500%;
  margin: 0 -166.6666666667%;
  display: flex;
  position: relative;
  z-index: 2;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide {
  width: 100%/3;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .img-box {
  width: 100%;
  height: 100%;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .img-box img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .img-box img:hover {
  outline: 1px solid rgba(255, 255, 255, 0.4);
  outline-offset: -15px;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .txt-box {
  width: 100%;
  margin: 40px 0 0 0;
}
#wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .txt-box h2 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  text-align: center;
}
#wrap #main #section5 .container .gap .arrow-prev-btn {
  position: absolute;
  z-index: 3;
  top: 55%;
  left: 30px;
}
#wrap #main #section5 .container .gap .arrow-prev-btn.on {
  animation: sec5slide 1s ease-in-out both;
}
#wrap #main #section5 .container .gap .arrow-prev-btn img {
  display: block;
  width: 21px;
  height: 35px;
}
#wrap #main #section5 .container .gap .arrow-next-btn {
  position: absolute;
  z-index: 3;
  top: 55%;
  right: 30px;
}
#wrap #main #section5 .container .gap .arrow-next-btn.on {
  animation: sec5slide 1s ease-in-out both;
}
#wrap #main #section5 .container .gap .arrow-next-btn img {
  display: block;
  width: 21px;
  height: 35px;
}
#wrap #main #section5 .container .gap .page-btn-box {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 30px;
  text-align: center;
  display: flex;
}
#wrap #main #section5 .container .gap .page-btn-box.on {
  animation: sec5slide 1s ease-in-out both;
}
#wrap #main #section5 .container .gap .page-btn-box .page-num {
  margin: 0 8px 0 0;
}
#wrap #main #section5 .container .gap .page-btn-box .page-num h3 {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  display: flex;
  align-items: center;
}
#wrap #main #section5 .container .gap .page-btn-box .page-num h3 span {
  padding: 0 4px 0 0;
}
#wrap #main #section5 .container .gap .page-btn-box span {
  margin: 0 4px;
}
#wrap #main #section5 .container .gap .page-btn-box span a {
  width: 15px;
  height: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  background: #d4d4d4;
  transition: all 0.3s;
}
#wrap #main #section5 .container .gap .page-btn-box span a.on {
  border: 1px solid #572a31;
  background: #572a31;
}
@keyframes sec5title {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes sec5slide {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#wrap #main #section6 {
  width: 100%;
}
#wrap #main #section6 .container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
}
#wrap #main #section6 .container .gap {
  width: 100%;
  padding: 0 15px 130px 15px;
}
#wrap #main #section6 .container .gap .title-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}
#wrap #main #section6 .container .gap .content {
  width: 100%;
}
#wrap #main #section6 .container .gap .content ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#wrap #main #section6 .container .gap .content ul li {
  width: 20%;
  overflow: hidden;
  padding: 3px;
}
#wrap #main #section6 .container .gap .content ul li a {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
#wrap #main #section6 .container .gap .content ul li a img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
#wrap #main #section6 .container .gap .content ul li a img:hover {
  transform: scale(1.05);
}
#wrap #footer {
  width: 100%;
  background-color: #efefef;
}
#wrap #footer .container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
}
#wrap #footer .container .gap {
  width: 100%;
  padding: 90px 15px 100px 15px;
}
#wrap #footer .container .gap .content {
  width: 100%;
  display: flex;
}
#wrap #footer .container .gap .content .left-box {
  width: 28.571%;
}
#wrap #footer .container .gap .content .left-box .call-box {
  width: 100%;
}
#wrap #footer .container .gap .content .left-box .call-box > h2 {
  width: 20rem;
  display: block;
}
#wrap #footer .container .gap .content .left-box .call-box > h2 > img {
  width: 100%;
}
#wrap #footer .container .gap .content .left-box .call-box > p {
  font-size: 1.25rem;
  color: #572a31;
  padding: 20px 0;
  font-weight: 600;
}
#wrap #footer .container .gap .content .left-box .call-box h3 {
  font-size: 1.875rem;
  color: #572a31;
  font-family: "Roboto";
  font-weight: 600;
}
#wrap #footer .container .gap .content .center-box {
  width: 45%;
}
#wrap #footer .container .gap .content .center-box .top-box {
  width: 100%;
}
#wrap #footer .container .gap .content .center-box .top-box ul {
  width: 100%;
  display: flex;
  padding: 0 0 15px 0;
}
#wrap #footer .container .gap .content .center-box .top-box ul li {
  padding: 0 30px 0 0;
}
#wrap #footer .container .gap .content .center-box .top-box ul li a {
  font-size: 16px;
  color: #571c1f;
  font-weight: 400;
}
#wrap #footer .container .gap .content .center-box .middle-box {
  padding: 30px 0 10px 0;
}
#wrap #footer .container .gap .content .center-box .middle-box p {
  font-size: 12px;
  color: #6b7280;
  line-height: 28px;
  font-weight: 600;
  word-break: keep-all;
}
#wrap #footer .container .gap .content .center-box .bottom-box h5 {
  font-size: 12px;
  color: #6b7280;
  font-weight: 600;
}
#wrap #footer .container .gap .content .right-box {
  width: 26.429%;
}
#wrap #footer .container .gap .content .right-box .sns-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 2.101944298vw;
}
#wrap #footer .container .gap .content .right-box .sns-box h4 {
  font-size: 16px;
  color: #666666;
  margin: 0 0.525486075vw 0 0;
}
#wrap #footer .container .gap .content .right-box .sns-box ul {
  display: flex;
}
#wrap #footer .container .gap .content .right-box .sns-box ul li {
  margin: 0 3px;
}
#wrap #footer .container .gap .content .right-box .sns-box ul li img {
  color: #666666;
  cursor: pointer;
}
#wrap .chatbot-box {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: 100px;
  width: 80px;
  height: 80px;
}
#wrap .chatbot-box a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap .chatbot-box a img {
  width: 100%;
  height: 100%;
}
#wrap .go-top {
  position: fixed;
  z-index: 3;
  right: 35px;
  bottom: 40px;
  width: 45px;
  height: 45px;
}
#wrap .go-top a {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
#wrap .go-top a.on {
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}
#wrap .go-top a i {
  font-size: 25px;
  transition: all 1s;
}