
@media all and (max-width:1430px) {
    #wrap #main #section3 .container {
        padding: 0;
      }
      #wrap #main #section5 .container {
        padding: 0;
      }
}
@media all and (max-width:1386px) {
  #wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li a {
    font-size: 14px;
  }
  #wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li span {
    font-size: 14px;
  }
  #wrap #main #section2 .container .gap {
    padding: 0 80px 0 100px;
  }
  #wrap #main #section2 .container .gap .icon > img {
    display: none;
  }
}

@media all and (max-width:1200px) {
  #wrap #main #section6 .container .gap .content ul li {
    width: 25%;

  }
  #wrap #footer .container .gap .content {
    display: block;
  }
  #wrap #footer .container .gap .content .left-box {
    width: 100%;
  }
  #wrap #footer .container .gap .content .center-box {
    width: 100%;
    padding: 40px 0;
  }
  #wrap #footer .container .gap .content .right-box {
    width: 100%;
  }
  #wrap #footer .container .gap .content .right-box .sns-box{
   padding: 0;
  }
}



@media all and (max-width:1180px) {
  #wrap #main #section3 .container .gap .page-btn-box .page-num h3 {
    display: none;
  }
  #wrap #main #section3 .container .gap .page-btn-box .go-stop i {
    display: none;
  }
  #wrap #main #section5 .container .gap .page-btn-box .page-num h3 {
    display: none;
  }
  #wrap #main #section5 .container .gap .page-btn-box .go-stop i {
    display: none;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul {
    width: 500px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo {
    width: 160px;
    height: 50px;
  }
}

@media all and (max-width:1080px) {
  #wrap #main #section4 .container .gap .four-box .content h2 {
    font-size: 38px;
  }
  #wrap #main #section4 .container .gap .four-box .content img {
    width: 329px;
    padding: 15px 0 20px 0;
  }
  #wrap #main #section4 .container .gap .four-box .content p {
    font-size: 18px;
  }
}

@media all and (max-width:1024px) {
    #wrap #header {
        height: 60px;
      }
      #wrap #main #section1 .container .gap {
        padding: 60px 0 0 0;
      }
      #wrap #header .container .gap .nav-box {
        display: none;
      }
      #wrap #header .container .gap .logo {
        width: 100%;
        position: relative;
        height: 100%;
      }
      #wrap #header .container .gap .logo h1 a {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
      #wrap #header .container .gap .logo h1 a img {
        height: 80%;
      }
      #wrap #header .container .gap #mobile .mbl-left {
        display: flex;
      }
      #wrap #header .container .gap #mobile .mbl-right {
        display: flex;
      }
      #wrap #header.on {
        height: 60px;
        border-bottom: #666666;
      }
      #wrap #main #section3 .container .gap .page-btn-box {
        display: none;
      }
      #wrap #main #section5 .container .gap .page-btn-box {
        display: none;
      }
}
@media all and (max-width:860px) {
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul {
    width: 350px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo {
    width: 120px;
    height: 45px;
    font-size: 19px;
  }
}
@media all and (max-width:848px) {
  #wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul {
    width: 100%;
    display: flex;
    flex-flow: wrap;
  }
  #wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li {
    width: 100%;
    display: flex;
  }
  #wrap #main #section4 .container .gap .four-box .content h2 {
    padding: 0 65px 0 0;
  }

}
@media all and (max-width:800px) {
  #wrap #main #section4 .container .gap .four-box .content p {
    font-size: 17px;
    line-height: 30px;
  }
}
@media all and (max-width:782px) {
  #wrap #main #section4 .container .gap .four-box .content h2 {
    font-size: 35px;
  }
}
@media all and (max-width:768px) {
  #wrap #main #section1 {
    width: 100vw;
    height: 152vw;
  }
  #wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide1 {
    background-image: url(../img/3717365327_31RfNqxm_20230216060727.jpg);
    z-index: 5;
  }
  #wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide2 {
    background-image: url(../img/3717365327_2ZhAsNX3_20230112094455.jpg);
    z-index: 4;
  }
  #wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide3 {
    background-image: url(../img/3698661499_LJO5eS1V_20230209103401.jpg);
    z-index: 3;
  }
  #wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide4 {
    background-image: url(../img/3717365327_hjoqRVEs_20221227112217.jpg);
    z-index: 2;
  }
  #wrap #main #section1 .container .gap .slide-container .slide-view .slide-wrap .slide.slide5 {
    background-image: url(../img/3717365327_7nr64bVx_20230119045351.jpg);
    z-index: 1;
  }
  #wrap #main #section2 .container .gap {
    padding: 0 15px 0 50px;
  }
  #wrap #main #section4 {
    width: 100%;
    height: 144.9986979vw;
    background: url(../img/section2_bg_m.jpg) no-repeat 50% 100%;
    background-size: cover;
  }
  #wrap #main #section4 .container .gap .four-box {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  #wrap #main #section4 .container .gap .four-box .content h2 {
    margin: 80px 0 0 0;
    font-size: 38px;
    padding: 0;
  }
  #wrap #main #section4 .container .gap .four-box .content img {
    padding: 30px 0 42px 0;
  }
  #wrap #main #section4 .container .gap .four-box .content p {
    font-size: 18px;
    line-height: 30px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul {
    width: 100%;
    display: flex;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li {
    width: 33.333%;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width:740px) {
  #wrap #main #section6 .container .gap .content ul li {
    width: 33.333%;
  }
  #wrap .chatbot-box {
    width: 60px;
    height: 60px;
    right: 23px;
    bottom: 70px;
  }
  #wrap .go-top {
    width: 35px;
    height: 35px;
    bottom: 20px;
  }
}

@media all and (max-width:720px) {
  #wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .txt-box {
    margin: 20px 0 0 0;
  }
  #wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide .txt-box > h2 {
    font-size: 18px;
    font-weight: 700;
  }
}

@media all and (max-width:594px) {
  #wrap #main #section2 .container .gap {
    padding: 0 0 0 20px;
  }
  #wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li a {
    font-size: 12px;
  }
  #wrap #main #section2 .container .gap .slide-container .slide-view .slide-wrap .slide > ul > li span {
    font-size: 12px;
  }
  #wrap #main #section3 .container .gap .title-box {
    margin: 0 0 20px 0;
  }
  #wrap #main #section3 .container .gap .arrow-prev-btn {
    top: 45%;
  }
  #wrap #main #section3 .container .gap .arrow-next-btn {
    top: 45%;
  }
  #wrap #main #section5 .container .gap .title-box img {
    width: 90%;
  }
  #wrap #main #section5 .container .gap .title-box {
    margin: 0 0 20px 0;
  }
  #wrap #main #section3 .container .gap .title-box img {
    width: 80%;
  }
  #wrap #main #section6 .container .gap .title-box {
    margin: 0 0 30px 0;
  }

}

@media all and (max-width:550px) {
  #wrap #footer .container .gap .content .center-box .top-box ul {
    display: block;
  }
  #wrap #footer .container .gap .content .center-box .top-box ul li {
    padding: 10px 0;
  }
  #wrap #footer .container .gap .content .center-box .top-box ul li a {
    font-size: 14px;
  }
}


@media all and (max-width:540px) {
  #wrap #main #section1 .container .gap .page-btn-box span .page-btn {
    width: 70px;
  }
}

@media all and (max-width:530px) {
  #wrap #main #section4 .container .gap .four-box .content > h2 {
   margin: 30px 0 0 0;
   font-size: 18px;
  }
  #wrap #main #section4 .container .gap .four-box .content img {
    margin: 0;
    padding: 15px 90px 20px 90px;
  }
  #wrap #main #section4 .container .gap .four-box .content p {
    font-size: 12px;
    line-height: 20px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul{
    flex-flow: row wrap;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li:first-child {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 30px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li:nth-child(2) {
    width: 50%;
    margin: 0;
    padding: 0 10px 0 30px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li:nth-child(3) {
    width: 50%;
    margin: 0;
    padding: 0 30px 0 10px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo {
    width: 100%;
  }

}

@media all and (max-width:490px) {

  #wrap #main #section6 .container .gap .title-box img{
    width: 90%;

  }
  #wrap #main #section6 .container .gap .content ul li {
    width: 100%;
    padding: 5px 0;
  }
  #wrap #main #section6 .container .gap {
    padding: 0 30px 130px 30px;
  }
}

@media all and (max-width:480px) {
  #wrap #main #section1 .container .gap .page-btn-box span .page-btn {
    width: 45px;
  }
  #wrap .chatbot-box {
    width: 40px;
    height: 40px;
    right: 16px;
    bottom: 60px;
  }
  #wrap .go-top {
    right: 20px;
    width: 30px;
    height: 30px;
  }
}

@media all and (max-width:450px) {
  #wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap {
    width: 2100%;
    margin: 0 0 0 -600%;
  }
  #wrap #main #section3 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide {
    width: 100%;
    padding: 0 15px;
  }
  #wrap #main #section3 .container .gap .arrow-prev-btn {
    left: 35px;
  }
  #wrap #main #section3 .container .gap .arrow-next-btn {
    right: 35px;
  }
  #wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap {
    width: 1500%;
    margin: 0 -500%;
  }
  #wrap #main #section5 .container .gap .content-box .slide-container .slide-view .slide-wrap .slide {
    width: 100%;
  }
}

@media all and (max-width:360px) {
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap ul li .nemo {
    height: 35px;
    font-size: 13px;
  }
  #wrap #main #section4 .container .gap .four-box .nemo-btn .col-gap {
    padding: 15px 5px 0 5px;
  }
}

@media all and (max-width:350px) {
  #wrap #footer .container .gap .content .left-box .call-box > h2 {
    width: 100%;
  }
  #wrap #footer .container .gap {
    padding: 60px 15px 70px 15px;
  }
}